.teacher-class-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.teacher-class-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-bottom: 5px;
  position: relative;
}

.teacher-class-header h1 {
  margin: 0;
  font-size: 2em;
  font-weight: bold;
  white-space: nowrap;
  color: #333;
}

.vanvas-logo {
  height: 80px;
  margin-left: auto;
  width: 250px;
}

.teacher-class-form {
  margin-bottom: 10px;
}

.teacher-class-form h2 {
  font-size: 1.5em;
  color: #444;
  margin-bottom: 10px;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
  margin-bottom: 10px;
}

.form-group label {
  flex: 1;
  font-size: 0.9em;
  color: #3a3a3a;
}

.form-group input {
  flex: 12;
  background-color: white;
  color: black;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.9em;
}

.teacher-class-button {
  padding: 10px 15px;
  font-size: 1em;
  color: white;
  background-color: #1E74FD;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.teacher-class-button:hover {
  background-color: #0056b3;
}

.teacher-class-layout {
  display: flex;
}

.teacher-class-main {
  margin-left: 80px;
  padding: 20px;
  flex-grow: 1;
}

.teacher-class-header {
  text-align: center;
  margin-bottom: 20px;
}

.teacher-class-container {
  max-width: 800px;
  margin: 0 auto;
}

.status-message {
  color: green;
  font-size: 1em;
  margin-top: 10px;
}